/*--------------------------------------------------------- Body*/

body {
    position: relative;
    min-height: 100vh;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    color: #000;
    padding-bottom: 1rem;
}

/*--------------------------------------------------------- Header*/

.anchor-styling {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000;
}

.heading-centre {
    text-align: center;
}

.heading-style-uppercase {
    text-transform: uppercase;
}

/*--------------------------------------------------------- Section*/

.bigger-text {
    font-size: 1.5rem; /*Increases size for score and level text*/
}

/*--------------------------------------------------------- Buttons*/

.btn-centre {
    text-align: center;
}

.btn-initial {
    background-color: #9b72e8;
    color: #fff;
}

.btn-black {
    background-color: #000;
}

#btn-start {
    margin: 3rem;
    padding: 1.3rem 0.6rem;
    border-radius: 50%; /*Rounds button edges to force a circle*/
}

#btn-red,
#btn-blue,
#btn-green,
#btn-yellow,
#btn-mono {
    margin: 3rem;
    padding: 2rem 1.6rem;
    border-radius: 50%; /*Rounds button edges to force a circle*/
}

/*--------------------------------------------------------- Footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

a:link {
    text-decoration: none;
}

/*--------------------------------------------------------- Dark Mode*/

.body-dark {
    background-color: #000;
    color: #daa520;
}

.anchor-styling-dark {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #daa520;
}

.anchor-styling-dark:hover {
    color: #9b72e8; /*Colour change of social media links on mouse hover*/
}

.btn-white {
    background-color: #fff;
} /*Changes colour of 5th button from black to white in dark mode*/

/*--------------------------------------------------------- Media Queries*/

@media (max-width: 386px) {
    #btn-start {
        margin: 1rem;
    }

    #btn-red,
    #btn-blue,
    #btn-green,
    #btn-yellow,
    #btn-mono {
        margin: 1rem;
    }

}

@media (min-width: 387px) and (max-width: 486px) {
    #btn-start {
        margin: 2rem;
    }

    #btn-red,
    #btn-blue,
    #btn-green,
    #btn-yellow,
    #btn-mono {
        margin: 2rem;
    }

}

@media (max-width: 768px) {
    h3 {
        margin-bottom: 1.5rem; /*Improves heading display on mobile and tablet devices*/
    }

}

@media (min-width: 2560px) {
    * {
        font-size: 1.5rem; /*Improves readability on larger resolutions*/
    }
}

@media (min-width: 3840px) {
    * {
        font-size: 2rem; /*Improves readability on 4K resolutions*/
    }
}