/*--------------------------------------------------------- Body*/

body {
    position: relative;
    min-height: 100vh;
    background-color: #fff;
    color: #000;
    padding-bottom: 2rem; /* Footer position */
}

/*--------------------------------------------------------- Header*/

.heading-centre {
    text-align: center;
}

.heading-style-uppercase {
    text-transform: uppercase;
}

/*--------------------------------------------------------- Section*/

/*--------------------------------------------------------- Buttons*/

.btn-centre {
    text-align: center;
}

.btn-initial {
    margin: 0.5rem;
    background-color: #5900ff;
    color: #fff;
}

#button1,
#button2,
#button3,
#button4,
#button5 {
    margin: 3rem;
}

.btn-initial:hover {
    color: goldenrod;
}

.btn-warning {
    color: #212529;
}

/*--------------------------------------------------------- Footer*/

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.anchor-styling {
    padding: 0.5em;
    color: #000;
}

/*--------------------------------------------------------- Dark Mode*/

.body-dark {
    background-color: #000;
    color: goldenrod;
}

.footer-dark {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: goldenrod;
    text-align: center;
}

.anchor-styling-dark {
    padding: 0.5em;
    color: goldenrod;
}

.anchor-styling-dark:hover {
    color: #5900ff;
}